<template>
  <div class="posts">
    <Post v-for="post in filteredPosts" :key="post.id" :post="post" />
  </div>
</template>

<script>
import Post from './Post.vue';
import { mapGetters } from 'vuex';

export default {
  components: { Post },

  props: {
    authorName: {
      type: String,
      default: '',
    },
  },

  computed: {
    ...mapGetters(['allPosts']),
    filteredPosts() {
      if (this.authorName === '') return this.allPosts;
      let arr = [];
      this.allPosts.forEach((element) => {
        if (
          // Compare each element with a string in the search
          element.author.substr(0, this.authorName.length).toLowerCase() ===
          this.authorName.toLowerCase()
        ) {
          arr.push(element);
        }
      });
      return arr;
    },
  },
};
</script>

<style lang="scss">
.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
</style>
