<template>
  <div class="card bg-light">
    <span class="card__title text-primary">
      {{ post.title }}
    </span>

    <span class="card__body text-muted">
      {{ post.body }}
    </span>

    <span class="card__author text-secondary">
      {{ post.author }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      required: true,
      type: Object
    }
  }
};
</script>

<style lang="scss" scoped>
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  padding: 25px 15px;
  width: 100%;

  @media (min-width: 480px) {
    width: 48%;
  }
  @media (min-width: 1024px) {
    width: 30%;
  }

  // Card content
  span:first-letter {
    text-transform: uppercase;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__body {
    padding: 5px 0;

    font-size: 1rem;
  }

  .card__author {
    margin-top: 20px;

    font-size: 0.8rem;
  }
}
</style>
