<template>
  <div class="search">
    <div class="input-group mb-3">
      <!-- ICON -->
      <div class="input-group-prepend">
        <span class="input-group-text bg-light">
          <i class="bi bi-search"></i>
        </span>
      </div>

      <!-- INPUT -->
      <input
        type="text"
        class="form-control bg-light"
        placeholder="Filter by author..."
        aria-describedby="button-addon"
        v-model="authorName"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      authorName: ''
    };
  },
  watch: {
    authorName() {
      this.$emit('searching', this.authorName);
    }
  }
};
</script>

<style lang="scss">
.search {
  width: 100%;
  padding-top: 1%;
  margin: auto;

  @media (min-width: 480px) {
    width: 48%;
  }
  @media (min-width: 1024px) {
    width: 30%;
  }

  button {
    border: 1px solid #ced4da;
  }

  input:hover,
  input:focus {
    box-shadow: none !important;
  }
}
</style>
