<template>
  <div id="app" class="app">
    <Search @searching="searching" />

    <Posts :authorName="authorName" />
  </div>
</template>

<script>
import Posts from './components/Posts.vue';
import Search from './components/Search.vue';

import { mapActions } from 'vuex';

export default {
  name: 'App',

  components: { Search, Posts },

  data() {
    return {
      authorName: ''
    };
  },

  created() {
    this.fetchUsers();
    this.fetchPosts(35);
  },

  methods: {
    ...mapActions(['fetchPosts', 'fetchUsers']),
    searching(authorName) {
      this.authorName = authorName;
    }
  }
};
</script>

<style lang="scss">
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

html,
body {
  width: 100%;
  height: 100%;

  // For smooth emergence
  animation: show 1s;

  @keyframes show {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

  .app {
    min-height: 100vh;
    padding: 20px 30px;

    background: #eaeff4;
  }
}

// Scroll
@media (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    background: #f6f6f6;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c2cdd8;
    border: 3px solid #f6f6f6;
  }
}
</style>
